<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>Список всех пользователей</h2>
<hr>
<table th:border="2">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${listUsers}">
        <td th:align="center" th:utext="${user.getId()}">ID</td>
        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getFirstName()}"></a></td>
        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getLastName()}"></a></td>
        <td th:utext="${user.getSalary()}">Salary</td>
        <td>
            <form th:method="GET" th:action="@{/users/{id}/edit(id=${user.id})}">
                <input type="submit" value="Edit"/>
            </form>
            <form th:method="DELETE" th:action="@{/users/{id}/(id=${user.id})}">
                <input type="submit" value="Delete"/>
            </form>

        </td>

    </tr>
</table>
<br>
<input type="button" value="Add new user"
       onclick="window.location.href = '/users/create'">

</body>
</html>